@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'PPNeueMontreal';
  src:
    url('/fonts/PPNeueMontreal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "PPNeueMontreal", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #151515;
  overflow: hidden;
}

@layer components {
  .card {
    @apply mt-0 text-[24px] leading-7 tablet:ml-0 tablet:text-[32px] tablet:mt-auto;
  }

  .title {
    @apply mb-10 relative flex gap-2 max-w-[1728px] py-3 text-[26px] leading-[44px] text-violet;
    @apply after:w-[100%] after:h-[1px] after:bg-darkWhite after:absolute after:left-[50%] after:-translate-x-[50%] after:bottom-[50%] after:-translate-y-[-50%];

    @apply flex-col lg:flex-row lg:gap-[386px] lg:items-center lg:text-[40px];
    @apply lg:after:bottom-0;
  }

  .cardDescMobile {
    @apply text-sm leading-5 mt-auto;
  }
}